!!!5
%html{:class => content_for?(:background) ? yield(:background) : "bg-default" }
%head
  %title
    = content_for?(:title) ? yield(:title) : "Roster"
  = stylesheet_link_tag "application", :media => "all"
  - if content_for?(:css_references)
    = yield(:css_references)
  = csrf_meta_tags
%body
  %p.notice
    = notice

  %p.alert
    = alert

  = yield

= javascript_include_tag "application"
- if content_for?(:js_references)
  = yield(:js_references)
